* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
  width: 100%;
}

/* Header */

header {
  width: 100%;
  margin-top: 20px;
}

.nav {
  display: flex;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: start;
}

svg {
  fill: black;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu ul li a {
  font-size: 19px;
  font-weight: 700;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: black;
}

.menu ul li a:hover {
  color: rgb(255, 152, 0);
}

.menu .support a {
  font-size: 15px;
  color: black;
  font-weight: 600;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  border: 1px solid rgb(255, 152, 0);
  padding: 9px 15px;
  border-radius: 9px;
  text-transform: uppercase;
}

.menu .support a:hover {
  background-color: rgb(255, 152, 0);
  color: white;
}

/* Hero Section */

.hero-main {
  width: 100%;
  position: relative;
  margin-top: 5%;
  overflow: hidden;
}

h1 {
  font-size: 100px;
  margin-bottom: 4%;
}

.hero-main .hero-image svg {
  fill: rgb(245, 245, 245);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* section */

.hero-sec {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(39, 43, 51);
  padding: 8% 0;
}

.w-50 {
  width: calc(50% - 3%);
  height: 200px;
  display: flex;
  border: 1px solid black;
  border-radius: 9px;
  background: rgb(60, 62, 68);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 13px;
}

.w-40 {
  width: 40%;
}

.w-40 img {
  width: 100%;
  height: 200px;
}

.w-60 {
  width: calc(60% - 10px);
  padding-left: 10px;
}

.w-60 .status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.w-60 .name {
  color: white;
  font-size: 25px;
  text-align: left;
  margin-top: 1%;
}

.w-60 .name:hover {
  color: rgb(255, 152, 0);
}

.w-60 .icon {
  border: 1px solid black;
  width: 9px;
  height: 9px;
  background-color: rgb(158, 158, 158);
  border-radius: 50%;
  margin-bottom: -3px;
}

.status p {
  color: white;
}

.text2 {
  text-align: left;
  margin-top: 6%;
}

.text2 span {
  color: rgb(158, 158, 158);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.text2 p:hover {
  color: rgb(255, 152, 0);
}

.text2 p {
  color: white;
  font-size: 17px;
}

.text3 {
  text-align: left;
  margin-top: 6%;
}

.text3 span {
  color: rgb(158, 158, 158);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.text3 p {
  color: white;
  font-size: 18px;
}

.text3 p:hover {
  color: rgb(255, 152, 0);
}

/* Footer */

.footer-sec {
  width: 100%;
  background: rgb(32, 35, 41);
  padding: 81px 0;
}

.footer-sec ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 12px;
}

.footer-sec ul li a {
  color: rgb(158, 158, 158);
  font-size: 13.5px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-sec ul li a:hover {
  color: rgb(255, 152, 0);
}

.footer-sec .server {
  display: block;
}

.server li span {
  color: rgb(158, 158, 158);
  font-size: 13.5px;
  text-transform: uppercase;
  font-weight: bold;
}

.server li span:hover {
  color: rgb(255, 152, 0);
}

.footer-sec .brand {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 20px 0;
}

.footer-sec .sign {
  color: rgb(158, 158, 158);
}

.footer-sec .sign:hover {
  color: rgb(255, 152, 0);
}

/* Responsive */

@media (max-width: 1140px) {
  .logo {
    padding-left: 5%;
  }

  .menu {
    padding-right: 5%;
  }

  h1 {
    font-size: 95px;
  }
}

@media (max-width: 1090px) {
  h1 {
    font-size: 92px;
  }
}

@media (max-width: 1022px) {
  h1 {
    font-size: 85px;
  }
}

@media (max-width: 948px) {
  h1 {
    font-size: 78px;
  }
}

@media (max-width: 911px) {

  h1 {
    font-size: 75px;
  }

  .w-50 {
    width: 70%;
  }
}


@media (max-width: 837px) {

  h1 {
    font-size: 68px;
  }
}

@media (max-width: 774px) {

  h1 {
    font-size: 62px;
  }
}

@media (max-width: 576px) {

  .support {
    display: none;
  }

  .w-50 {
    flex-direction: column;
    height: auto;
  }

  .w-40 {
    width: 100%;
  }

  .w-60 {
    width: 100%;
    padding: 10px;
  }

  .w-60 .name {
    font-size: 24px;
  }

  .text2 span {
    font-size: 15px;
  }

  .text2 p {
    font-size: 16px;
  }

  .text3 span {
    font-size: 15px;
  }

  .text3 p {
    font-size: 16px;
  }
}

@media (max-width: 453px) {
  h1 {
    font-size: 55px;
  }
}

@media (max-width: 360px) {

  .menu {
    display: none;
  }

  h1 {
    font-size: 50px;
  }

  .w-60 .name {
    font-size: 23px;
  }

  .text2 p {
    font-size: 14px;
  }

  .text2 span {
    font-size: 14px;
  }

  .text3 p {
    font-size: 14px;
  }

  .text3 span {
    font-size: 14px;
  }

  .footer-sec ul {
    gap: 10px;
  }

  .footer-sec ul li a {
    font-size: 12px;
  }

  .server li span {
    font-size: 12px;
  }

  .sign span {
    font-size: 14px;
  }
}